{% extends 'one.html.twig' %}
{% block title %}Internal Server Error{% endblock %}
{% block body %}

    <section>
        <div class="container-alt">
            <div class="row">
                <div class="col-sm-12 text-center">

                    <div class="wrapper-page">
                        <img src="{{ asset('resources/images/animat-customize-color.gif') }}" alt="" height="120">
                        <h1 style="font-size: 78px;">500</h1>
                        <h3 class="text-uppercase text-danger">Internal Server Error</h3>
                        <p class="text-muted">Why not try refreshing your page? or you can contact <a
                                    href="{{ path('contact') }}" class="text-primary">support</a></p>

                        <a class="btn btn-primary waves-effect waves-light m-t-20" href="{{ path('home') }}"> Return
                            Home</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

