{# templates/Taxonomy/list__action_clone.html.twig #}


{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


<a href="{{ admin.generateObjectUrl('classificationlist', object) }}" class="btn btn-sm btn-default view_link"
   title="Get Classification">Get Classification</a>