{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}


{{ form_start(form, { attr: { class: 'contact-form', role: 'form' } }) }}
<div class="form-group">
    {{ form_widget(form) }}
</div>
<div class="form-actions">
    <button type="submit" class="btn btn-custom"><i
                class="glyphicon glyphicon-pencil"></i>&nbsp;{{ 'btn_add_comment'|trans({}, 'SonataNewsBundle') }}
    </button>
</div>
{{ form_end(form) }}
